{% include 'main.html.twig' %}

<body>

    <div>
        <h2>Om kursen</h2>
        <p> {{ om }} <a href="https://github.com/dbwebb-se/mvc">Mvc</a> </p>
    </div>
</body>

{% include 'footer.html.twig' %}
