{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Mitt namn är Zakarias, även kallad för Zack. Jag är från nordafrika, specefikt landet Algeriet. Folk blandar ihop det med araber men jag är berber, även känt som kabyl eller amazigh, som är ett väldigt gammalt folk slag som har ett eget språk och bokstäver som ser ut som hologryfer. </p>

    <p>Sen jag var ett barn har jag alltid älskat och leka runt i program och förstå hur dem fungerar, jag tror att mitt första program skapade jag när jag var 13 år, det var då jag skapade "Hello World", det var coolt då men nu gillar jag större saker, så som reverse engineering. </p>

    <p> De många nu som frågar om jag har hobbys eller intressen, de sjölvklart jag har det, min största intresse är ju självklart programmering, vill bli så duktig man kan för mitt mål är att öppna ett företag och jobba för mig själv. Ett annat intresse som jag har är boxning, jag har boxats i ungefär 6 år och tänker fortsätta med det här i Karlskona. </p>
{% endblock %}