{% include 'main.html.twig' %}

<body>

    <div>
        <h2>072 105 072 111</h2>
        <pre>069 110 032 112 114 101 115 101 110 116 097 116 105 111 110 032 097 118 032 109 105 103 032 115 106 195 164 108 118 044 032 111 109 032 109 105 103 032 115 106 195 164 108 118 044 032 116 105 108 108 115 097 109 109 097 110 115 032 109 101 100 032 101 110 032 108 105 116 101 110 032 098 105 108 100 046</pre>
        <pre>072 101 101 101 101 121 032 089 111 117 033 032 087 101 108 099 111 109 101 032 084 111 032 077 121 032 080 097 103 101</pre>
        <img src="https://i.pinimg.com/474x/c4/ff/19/c4ff193b4dbb799a1949b63ae41c7251.jpg">
        <pre> <pre>
Hej, 

Mitt namn är {{ name }}, även kallad för {{ smeknamn }}. Jag är från nordafrika, specefikt landet Algeriet. Folk blandar ihop det med araber men jag är berber, även känt som kabyl eller amazigh, som är ett väldigt gammalt folk slag som har ett eget språk och bokstäver som ser ut som hologryfer. 

Sen jag var ett barn har jag alltid älskat och leka runt i program och förstå hur dem fungerar, jag tror att mitt första program skapade jag när jag var 13 år, det var då jag skapade "Hello World", det var coolt då men nu gillar jag större saker, så som reverse engineering. 

De många nu som frågar om jag har hobbys eller intressen, de sjölvklart jag har det, min största intresse är ju självklart programmering, vill bli så duktig man kan för mitt mål är att öppna ett företag och jobba för mig själv. Ett annat intresse som jag har är boxning, jag har boxats i ungefär 6 år och tänker fortsätta med det här i Karlskona.

</pre>
    </div>

</body>

{% include 'footer.html.twig' %}
