{% include 'main.html.twig' %}

<body>

    <div>
        <h2>Redovisning av kursmoment</h2>
        <p>Detta är redovisningssidan för kursen, här finns samtliga redovisningstexter när du är klar.</p>

        <section>
        <h2>Kmom01</h2>
          <p>
            Jag har tidigare jobbat med objekt orienterad programmering, mest i python
            vilket jag tyckte var oerhört svårt i början men dock efter ett tag så blev
            allt enklare med tiden, de väl så med allt nytt?
          </p>

          <p>
            Hitils har jag bara fått lära mig att för att skapa en klass behöver man göra
            det i en kontroller, i den skapar man en klass och sedan olika som vi kallar
            för metoder i oopython, dock vet jag inte vad man kallar det i php, men de
            funkar på samma sätt tycker jag. Det bästa är att man enkelt kan skapa en
            route direkt i "kommentar" fälten vilket underlättar. vidare har jag fått lära
            mig att man returnerar en render vilket innebär, tror jag att du renderar just
            den filen, så som vi gjort tidigare i webapp med res.
        </p>

         <p>
            Jag är osäker om det är somfyni som tillåter oss att skapa och göra routes,
            klasser samt html på detta sätt, annars så tycker jag att det är oerhört lätt,
            man skapar en route, i den skapar man en klass där man bestämmer vad som ska
            hända och vad som ska returneras, samt ge metoden ett namn som man sen kan
            lätt importera in i en twig fil, så som jag ser hur mina href ser ut så säger
            jag bara about, report osv, de bara namn jag lägger in vilket skickas från min
            metod i report klassen.
        </p>

        <p>
            Angående “PHP The Right Way” så har jag inte lagt så mycket tid på det,
            förutom att skrolla ner och se nåt som alltid och kommer alltid att göra mig
            nyfiken och det är security, det är något som jag alltid velat lära mig,
            förmodlingen lär vi oss mer om säkerhet gällande hemsidor etc för att behålla
            en stabil och säker hemsida till framtida kunder, vem vet :).
        </p>

        <p> Under kmom01 har jag lärt mig att skapa routes, klasser med metoder i som jag
            kan namnge för att sedan kalla på dem. Jag har även lärt mig hur man renderar
            en hemsida och hur man kallar på olika metoder via twig.
        </p>

      </section>

        <section>
        <h2>Kmom02</h2>
          <p>
Det jag har fått hålla på med i kmom02 är exakt ungefär samma sak som jag fick göra i oopython där arv av olika klasser kan vara beroende av varandra, ett exempel vore barnklasser som ärver av föräldrar klasser där föräldrar klassen är som högst. Genom att göra så här så kan man enkelt ärva olika metoder, funktioner osv. 
          </p>

          <p>
Arv tillåter oss att definiera en klass som ärver alla, eller en andel metoder och egenskaper från en annan klass. Föräldraklass är klassen som ärvs från, även kallad basklass. Barnklass är den klass som ärver från en annan klass, även kallad härledd klass.
        </p>

<p>Uppgiften handlade om att jag skulle programmera ett kortspel, där kortspelen skulle synas och detta skulle programmeras i form av klasser som returnerar olika världen baserat på vad jag får ut i random värden. </p>

<p>Jag vet att ett kortlek innehåller 52 kort, alltså min konstruktor skulle innehålla ett ranom int mellan 1 och 52, sedan så som jag gjorde med dice i python ska jag rolla handen och få ut ett värde, detta gör jag genom att returnera ett value från random(1,52). </p>

<p>vidare så gjorde jag exakt som i python, att för varje värde som returneras kopplar jag ihop det med en bild, alltså om roll returnerar mig 1 så returnerar jag 2_of_hearts.png, i en array osv.. Detta kallas för interface. </p>
      
<p>Jag tycker att uppgiften har varit lärorik men oerhört tung och jobbig att förstå, jag tror inte jag är ensam om det. Annars är jag nöjd och ser fram emot att kötta igenom kmom03 </p>
      </section>


        <h1>Kmom03</h1>


        <h1>Kmom04</h1>


        <h1>Kmom05</h1>


        <h1>Kmom06</h1>


        <h1>Kmom7-10</h1>


    </div>
</body>

{% include 'footer.html.twig' %}
